{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the Limit Master group details such as priority details of the Limit Sharing group",
    "version" : "v1.0.0",
    "title" : "Limit sharing master group"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/limits/customers/masterGroups" : {
      "get" : {
        "summary" : "Retrieves the Limit Master group details such as priority details of the Limit Sharing group",
        "operationId" : "getCustomerLimitMasterGroups",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getCustomerLimitMasterGroupsResponse",
            "schema" : {
              "$ref" : "#/definitions/getCustomerLimitMasterGroupsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getCustomerLimitMasterGroupsResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getCustomerLimitMasterGroupsResponseBody"
        }
      },
      "description" : "getCustomerLimitMasterGroupsResponse"
    },
    "getCustomerLimitMasterGroupsResponseBody" : {
      "type" : "object",
      "properties" : {
        "liMaterGroup" : {
          "type" : "array",
          "description" : "Holds the limit Master Group details",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "masterGroupKey" : {
                "type" : "object",
                "description" : "Automatically updated by system during authorization with the master group key in which the sharing group key is linked. It will be updated only for the Main group and not for the sub groups.",
                "properties" : {
                  "masterGroupKey" : {
                    "type" : "string",
                    "description" : "Automatically updated by system during authorization with the master group key in which the sharing group key is linked. It will be updated only for the Main group and not for the sub groups."
                  }
                }
              },
              "allowedCustomer" : {
                "type" : "object",
                "description" : "Customers who are part of Limit sharing Group.",
                "properties" : {
                  "allowedCustomer" : {
                    "type" : "string",
                    "description" : "Customers who are part of Limit sharing Group."
                  },
                  "customerPriority" : {
                    "type" : "string",
                    "description" : "Customer's Limit Sharing Priority to the Group"
                  }
                }
              },
              "isSingleCreditLine" : {
                "type" : "string",
                "description" : "whether the group sharing limit is single credit line or not"
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    }
  }
}