{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the details of a Customer ",
    "version" : "v1.0.0",
    "title" : "Customer Details"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/party/customer/{recordId}/details" : {
      "get" : {
        "summary" : "Retrieves the details of a Customer ",
        "operationId" : "getCustomerForMDAL",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "path",
          "description" : "Unique identifier of an entity",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Customer DetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/getCustomerForMDALResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getCustomerForMDALResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getCustomerForMDALResponseBody"
        }
      },
      "description" : "getCustomerForMDALResponse"
    },
    "getCustomerForMDALResponseBody" : {
      "type" : "object",
      "properties" : {
        "customerId" : {
          "type" : "array",
          "description" : "Identifier of the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "title" : {
                "type" : "string",
                "description" : "Main menu title or header which the user wants to display on the screen when requesting the display of this main menu. This field can be expanded to allow the user to enter the description of the main menu in various languages."
              },
              "firstName" : {
                "type" : "string",
                "description" : "Specifies customer's first name"
              },
              "lastName" : {
                "type" : "string",
                "description" : "The last name of an individual customer"
              },
              "mnemonic" : {
                "type" : "string",
                "description" : "Shortcut code for referring an Entity/Company/Branch."
              },
              "dateOfBirth" : {
                "type" : "string",
                "description" : "The date of birth of an individual customer"
              },
              "gender" : {
                "type" : "string",
                "description" : "Gender of the Individual Customer"
              },
              "maritalstatus" : {
                "type" : "string",
                "description" : "Marital status of the customer"
              },
              "nationalityId" : {
                "type" : "string",
                "description" : "The identifier of the nationality of a customer"
              },
              "numberOfDependents" : {
                "type" : "string",
                "description" : "Specifies the number of dependents to the customer"
              },
              "birthIncorpDate" : {
                "type" : "string",
                "description" : "Date on which the entity is incorporated"
              },
              "industryId" : {
                "type" : "string",
                "description" : "An institution-defined identifier of the industry in which the customer is trading, operating or is associated with"
              },
              "target" : {
                "type" : "string",
                "description" : "Specifies how the Customer is considered by the bank and how he fits in with the Account Officer's overall marketing strategy"
              },
              "residenceId" : {
                "type" : "string",
                "description" : "The identifier of the country of residence of a customer"
              },
              "buildingName" : {
                "type" : "string",
                "description" : "Represents the name of the building, entrance"
              },
              "buildingNumber" : {
                "type" : "string",
                "description" : "Represents the number that identifies the position of a building on a street"
              },
              "flatNumber" : {
                "type" : "string",
                "description" : "The number that identifies apartment and unit that have other dwellings above or below, often with shared access and common areas"
              },
              "language" : {
                "type" : "object",
                "description" : "Language specific fields will be displayed under this entity",
                "properties" : {
                  "address" : {
                    "type" : "string",
                    "description" : "Communication Address of the Customer"
                  },
                  "street" : {
                    "type" : "string",
                    "description" : "Contains the first line of customer's base address, example building number, street number etc."
                  },
                  "postCode" : {
                    "type" : "string",
                    "description" : "Identifies the address postal code for the customer."
                  },
                  "countryName" : {
                    "type" : "string",
                    "description" : "This is the country name that the financial institution resides in."
                  },
                  "townCountry" : {
                    "type" : "string",
                    "description" : "The town and country associated with the address"
                  },
                  "customerName" : {
                    "type" : "string",
                    "description" : "Name of the customer"
                  }
                }
              },
              "legalId" : {
                "type" : "object",
                "description" : "Unique reference number of the legal documents submitted as identification proof",
                "properties" : {
                  "legalIssueDate" : {
                    "type" : "string",
                    "description" : "Date of Issue of the legal document"
                  },
                  "legalId" : {
                    "type" : "string",
                    "description" : "Unique reference number of the legal documents submitted as identification proof"
                  },
                  "toDate" : {
                    "type" : "string",
                    "description" : "Indicates the business date until when the balance reservation event is active."
                  },
                  "legalDocumentName" : {
                    "type" : "string",
                    "description" : "Name of the legal documents such as passport, driving licence etc., provided as identification proof"
                  },
                  "legalIssueAuthorisedDate" : {
                    "type" : "string",
                    "description" : "Authority who issued the legal document"
                  },
                  "legalHolderName" : {
                    "type" : "string",
                    "description" : "Name of the account holder in the Legal Document"
                  }
                }
              },
              "employmentStatus" : {
                "type" : "object",
                "description" : "Employment status of the customer",
                "properties" : {
                  "fromDate" : {
                    "type" : "string",
                    "description" : "Indicates the business date from when the balance reservation event is active."
                  },
                  "employerBusiness" : {
                    "type" : "string",
                    "description" : "The business of customer's employer involved."
                  },
                  "occupation" : {
                    "type" : "string",
                    "description" : "Occupation of the customer"
                  },
                  "annualBonus" : {
                    "type" : "string",
                    "description" : "Annual bonus received by customer"
                  },
                  "salaryFrequency" : {
                    "type" : "string",
                    "description" : "Indicates the payment frequency of salary."
                  },
                  "salaryCurrency" : {
                    "type" : "string",
                    "description" : "Currency in which the Salary information of the customer is maintained"
                  },
                  "employerName" : {
                    "type" : "string",
                    "description" : "Name of the customer's employer"
                  },
                  "employmentStatus" : {
                    "type" : "string",
                    "description" : "Employment status of the customer"
                  }
                }
              },
              "phoneNumber" : {
                "type" : "object",
                "description" : "The phone number of the customer or prospect",
                "properties" : {
                  "phoneNumber" : {
                    "type" : "string",
                    "description" : "The phone number of the customer or prospect"
                  },
                  "addressLocation" : {
                    "type" : "string",
                    "description" : "Identifies the nature of the postal address, like primary, secondary or office address"
                  },
                  "smsNumber" : {
                    "type" : "string",
                    "description" : "The mobile SMS number of the customer"
                  },
                  "email" : {
                    "type" : "string",
                    "description" : "Email Identifier of the Customer"
                  }
                }
              },
              "residentialStatus" : {
                "type" : "object",
                "description" : "Identifies the residence status of the customer.",
                "properties" : {
                  "fromDate" : {
                    "type" : "string",
                    "description" : "Indicates the business date from when the balance reservation event is active."
                  },
                  "residentialStatus" : {
                    "type" : "string",
                    "description" : "Identifies the residence status of the customer."
                  }
                }
              },
              "taxId" : {
                "type" : "object",
                "description" : "Holds the Customer's TAX/SSN Id.",
                "properties" : {
                  "taxId" : {
                    "type" : "string",
                    "description" : "Holds the Customer's TAX/SSN Id."
                  }
                }
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    }
  }
}