{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the group and individual limits orders for the particular customer ",
    "version" : "v1.0.0",
    "title" : "Customer limit sharing priority"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/limits/customers/{recordId}/sharingPriorities" : {
      "get" : {
        "summary" : "Retrieves the group and individual limits orders for the particular customer ",
        "operationId" : "getCustomerLimitSharingPriorities",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "path",
          "description" : "Unique identifier of an entity",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getCustomerLimitSharingPrioritiesResponse",
            "schema" : {
              "$ref" : "#/definitions/getCustomerLimitSharingPrioritiesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getCustomerLimitSharingPrioritiesResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getCustomerLimitSharingPrioritiesResponseBody"
        }
      },
      "description" : "getCustomerLimitSharingPrioritiesResponse"
    },
    "getCustomerLimitSharingPrioritiesResponseBody" : {
      "type" : "object",
      "properties" : {
        "limitDefinePriority" : {
          "type" : "array",
          "description" : "Holds the Limit Priority details",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "priority" : {
                "type" : "object",
                "description" : "Defines the Campaign priority",
                "properties" : {
                  "priority" : {
                    "type" : "string",
                    "description" : "Defines the Campaign priority"
                  }
                }
              },
              "customerPriority" : {
                "type" : "string",
                "description" : "Customer's Limit Sharing Priority to the Group"
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    }
  }
}