{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the list of travel notification details for specific customer",
    "version" : "v1.0.0",
    "title" : "Management of travel notifications"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/party/customers/{customerId}/travelNotifications" : {
      "get" : {
        "summary" : "API to retrieve the list of travel notification details for specific customer",
        "operationId" : "getCustomerTravelNotifications",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "description" : "Identifier of the customer",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "overallStatus",
          "in" : "query",
          "description" : "Contains the overall status",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Management of travel notificationsResponse",
            "schema" : {
              "$ref" : "#/definitions/getCustomerTravelNotificationsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getCustomerTravelNotificationsResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getCustomerTravelNotificationsResponseBody"
        }
      },
      "description" : "getCustomerTravelNotificationsResponse"
    },
    "getCustomerTravelNotificationsResponseBody" : {
      "type" : "object",
      "properties" : {
        "travelNotification" : {
          "type" : "array",
          "description" : "Holds the travel details of the CUSTOMER",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "customerId" : {
                "type" : "string",
                "description" : "Identifier of the customer"
              },
              "travelCountry" : {
                "type" : "object",
                "description" : "The country to which the customer travels",
                "properties" : {
                  "accountId" : {
                    "type" : "object",
                    "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN",
                    "properties" : {
                      "accountId" : {
                        "type" : "string",
                        "description" : "Identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId. Accepts both IBAN & BBAN"
                      }
                    }
                  },
                  "additionalInformation" : {
                    "type" : "string",
                    "description" : "Additional Information provided to add context"
                  },
                  "visitTimeFrom" : {
                    "type" : "string",
                    "description" : "The time period from which the customer is going to travel to the country on the VISIT.PERIOD.START date"
                  },
                  "contactDetail" : {
                    "type" : "object",
                    "description" : "Holds the contact details of the customer during his stay",
                    "properties" : {
                      "contactDetail" : {
                        "type" : "string",
                        "description" : "Holds the contact details of the customer during his stay"
                      }
                    }
                  },
                  "travelStatus" : {
                    "type" : "string",
                    "description" : "Indicates the status of travel."
                  },
                  "visitTimeTo" : {
                    "type" : "string",
                    "description" : "Holds the time of arrival to the native"
                  },
                  "scheduleType" : {
                    "type" : "string",
                    "description" : "The type of event schedule. The main ones are interest payment (IP) , principal increase (PI), rate reset (RR)."
                  },
                  "travelCountry" : {
                    "type" : "string",
                    "description" : "The country to which the customer travels"
                  },
                  "visitPurpose" : {
                    "type" : "string",
                    "description" : "Holds the purpose of traveling to the country"
                  },
                  "visitPeriodStart" : {
                    "type" : "string",
                    "description" : "The country to which the customer travels"
                  },
                  "visitPeriodEnd" : {
                    "type" : "string",
                    "description" : "The date when the customer completes his travel and returns to his native"
                  }
                }
              },
              "overallStatus" : {
                "type" : "string",
                "description" : "Contains the overall status"
              },
              "currNo" : {
                "type" : "string",
                "description" : "Current Number which indicates how many times the record is modified."
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    }
  }
}