{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the customer relationship details",
    "version" : "v1.0.0",
    "title" : "Customer relationships"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/party/customers/relationships" : {
      "get" : {
        "summary" : "Retrieves the customer relationship details",
        "operationId" : "getCustomerRelationshipDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "customerRelationGroupId",
          "in" : "query",
          "description" : "Identifies the key to Customer Relationship Group to form a relation",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "partyId",
          "in" : "query",
          "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "relationPartyId",
          "in" : "query",
          "description" : "Related customers or persons/entities that are part of the relationship.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getCustomerRelationshipDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/getCustomerRelationshipDetailsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getCustomerRelationshipDetailsResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getCustomerRelationshipDetailsResponseBody"
        }
      },
      "description" : "getCustomerRelationshipDetailsResponse"
    },
    "getCustomerRelationshipDetailsResponseBody" : {
      "type" : "object",
      "properties" : {
        "customerRelationship" : {
          "type" : "array",
          "description" : "Create relationships between records held on the Customer application or the PERSON.ENTITY application",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "customerRelationGroupId" : {
                "type" : "string",
                "description" : "Identifies the key to Customer Relationship Group to form a relation"
              },
              "customerRelationGroupName" : {
                "type" : "string",
                "description" : "Name of a Customer Relationship Group if applicable to the relationship."
              },
              "partyRelation" : {
                "type" : "object",
                "description" : "Originating Party's relationship to the underlying portfolio. Should be a valid relationship.",
                "properties" : {
                  "owningPercent" : {
                    "type" : "string",
                    "description" : "Used to record the percentage of ownership in the relationship. For example an entity may be partially or wholly owned by another entity. This will only be allowed to be entered if the relation is indicated as a type allowing Ownership"
                  },
                  "partyEffectiveDate" : {
                    "type" : "string",
                    "description" : "Effective date from which there is a relationship between originating party and the portfolio."
                  },
                  "relationReference" : {
                    "type" : "string",
                    "description" : "Customer Relationship of originating party. It is used in conjunction with the relatedRelationReference attribute."
                  },
                  "partyRole" : {
                    "type" : "string",
                    "description" : "Indicates the role of a customer or party, Eg: Benefial Owner, Nominee etc"
                  },
                  "relatedPartyEffectiveDate" : {
                    "type" : "string",
                    "description" : "To state the effective date of the relationship."
                  },
                  "relatedRelationReference" : {
                    "type" : "object",
                    "description" : "To relate the Customer Relationship between Originating party and other parties. It is used in conjunction with the relationReference attribute",
                    "properties" : {
                      "owningPercent" : {
                        "type" : "string",
                        "description" : "Used to record the percentage of ownership in the relationship. For example an entity may be partially or wholly owned by another entity. This will only be allowed to be entered if the relation is indicated as a type allowing Ownership"
                      }
                    }
                  },
                  "relationPartyId" : {
                    "type" : "string",
                    "description" : "Related customers or persons/entities that are part of the relationship."
                  },
                  "jointRelationRoleId" : {
                    "type" : "string",
                    "description" : "Role of joint customer with the main customer"
                  },
                  "partyId" : {
                    "type" : "string",
                    "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field."
                  },
                  "relation" : {
                    "type" : "string",
                    "description" : "Specify the various types of relation that could exist between Customers and /or Person Entities"
                  }
                }
              },
              "purposeOfRelationship" : {
                "type" : "string",
                "description" : "The purpose of the relationship between the Originating Party and the Related Party. Valid options - TAX, LIMIT, ADVICES, OTHERS or can be left blank"
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    }
  }
}