{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the KYC details of Customers",
    "version" : "v1.0.0",
    "title" : "Customer KYC"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "https", "http" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/party/customers/{recordId}/KYC" : {
      "get" : {
        "summary" : "Retrieves the KYC details of a Customer",
        "operationId" : "getCustomerKycDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "path",
          "description" : "Unique identifier of an entity",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getCustomerKycDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/getCustomerKycDetailsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/kyclist" : {
      "get" : {
        "summary" : "Retrieves the list of customers having the Kyc details",
        "operationId" : "getCustomerKycList",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "kycRelationship",
          "in" : "query",
          "description" : "Indicates the Customer Relationship details of the customer",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getCustomerKycListResponse",
            "schema" : {
              "$ref" : "#/definitions/getCustomerKycListResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/party/customers/nokyclist" : {
      "get" : {
        "summary" : "Retrieves the list of customers not having the Kyc details",
        "operationId" : "getCustomerNoKycList",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "kycRelationship",
          "in" : "query",
          "description" : "Indicates the Customer Relationship details of the customer",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getCustomerNoKycListResponse",
            "schema" : {
              "$ref" : "#/definitions/getCustomerNoKycListResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getCustomerKycDetailsResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getCustomerKycDetailsResponseBody"
        }
      },
      "description" : "getCustomerKycDetailsResponse"
    },
    "getCustomerKycDetailsResponseBody" : {
      "type" : "object",
      "properties" : {
        "customerId" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "contactDate" : {
                "type" : "string",
                "description" : "Date that first contact was made with the Customer."
              },
              "amlLastResultDate" : {
                "type" : "string",
                "description" : "The last date when Anti Money Laundering result is performed and updated"
              },
              "introducer" : {
                "type" : "string",
                "description" : "Name of the person who introduced the Customer to the bank"
              },
              "kycRelationship" : {
                "type" : "string",
                "description" : "Indicates the Customer Relationship details of the customer"
              },
              "isKycComplete" : {
                "type" : "string",
                "description" : "Whether information related to the customer has been collected and verified"
              },
              "kycLastReviewDate" : {
                "type" : "string",
                "description" : "Date customer KYC information was last reviewed"
              },
              "kycNextSystemReviewDate" : {
                "type" : "string",
                "description" : "Date system has calculated customer should next be reviewed."
              },
              "kycNextReviewDate" : {
                "type" : "string",
                "description" : "Next date of KYC review defined manually by the User"
              },
              "amlCheck" : {
                "type" : "string",
                "description" : "Describe the legal controls that is required by institutions to prevent or report Anti Money Laundering activities. It can have YES, SENT or NULL values."
              },
              "amlResult" : {
                "type" : "string",
                "description" : "Describe the results of Anti Money Laundering."
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "getCustomerKycListResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getCustomerKycListResponseBody"
        }
      },
      "description" : "getCustomerKycListResponse"
    },
    "getCustomerKycListResponseBody" : {
      "type" : "object",
      "properties" : {
        "customerId" : {
          "type" : "array",
          "description" : "Identifier of the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "mnemonic" : {
                "type" : "string",
                "description" : "Shortcut code for referring an Entity/Company/Branch."
              },
              "language" : {
                "type" : "object",
                "description" : "Language specific fields will be displayed under this entity",
                "properties" : {
                  "shortName" : {
                    "type" : "string",
                    "description" : "Contains the name of the account, basically the short title of the account."
                  }
                }
              },
              "nationalityId" : {
                "type" : "string",
                "description" : "The identifier of the nationality of a customer"
              },
              "accountOfficerId" : {
                "type" : "string",
                "description" : "The identifier of the department head or specific account officer responsible for the customer"
              },
              "kycRelationship" : {
                "type" : "string",
                "description" : "Indicates the Customer Relationship details of the customer"
              }
            }
          }
        }
      }
    },
    "getCustomerNoKycListResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getCustomerNoKycListResponseBody"
        }
      },
      "description" : "getCustomerNoKycListResponse"
    },
    "getCustomerNoKycListResponseBody" : {
      "type" : "object",
      "properties" : {
        "customerId" : {
          "type" : "array",
          "description" : "Identifier of the customer",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "mnemonic" : {
                "type" : "string",
                "description" : "Shortcut code for referring an Entity/Company/Branch."
              },
              "language" : {
                "type" : "object",
                "description" : "Language specific fields will be displayed under this entity",
                "properties" : {
                  "shortName" : {
                    "type" : "string",
                    "description" : "Contains the name of the account, basically the short title of the account."
                  }
                }
              },
              "nationalityId" : {
                "type" : "string",
                "description" : "The identifier of the nationality of a customer"
              },
              "accountOfficerId" : {
                "type" : "string",
                "description" : "The identifier of the department head or specific account officer responsible for the customer"
              }
            }
          }
        }
      }
    }
  }
}