{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the external user preferences",
    "version" : "v1.0.0",
    "title" : "Management of external users"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/party/externalUsers/externalUserPreferences" : {
      "get" : {
        "summary" : "Retrieves the external user preferences",
        "operationId" : "getExternalUserPreferences",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Management of external usersResponse",
            "schema" : {
              "$ref" : "#/definitions/getExternalUserPreferencesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getExternalUserPreferencesResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getExternalUserPreferencesResponseBody"
        }
      },
      "description" : "getExternalUserPreferencesResponse"
    },
    "getExternalUserPreferencesResponseBody" : {
      "type" : "object",
      "properties" : {
        "externalUserPreference" : {
          "type" : "array",
          "description" : "Holds the external user's preferences",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "customerRelationGroupName" : {
                "type" : "string",
                "description" : "Name of a Customer Relationship Group if applicable to the relationship."
              },
              "groupDisplayName" : {
                "type" : "string",
                "description" : "Display the details of group name"
              },
              "groupPosition" : {
                "type" : "string",
                "description" : "Group position"
              },
              "favouriteGroup" : {
                "type" : "string",
                "description" : "Favourite group"
              },
              "balCustomer" : {
                "type" : "object",
                "description" : "Holds the balance customer details.",
                "properties" : {
                  "balanceProductLine" : {
                    "type" : "object",
                    "description" : "Id of the product line (e.g. DEPOSITS), which is used in the calculation of the total balance.",
                    "properties" : {
                      "balanceProductLine" : {
                        "type" : "string",
                        "description" : "Id of the product line (e.g. DEPOSITS), which is used in the calculation of the total balance."
                      }
                    }
                  }
                }
              },
              "serviceName" : {
                "type" : "object",
                "description" : "The service related to an arrangement",
                "properties" : {
                  "serviceName" : {
                    "type" : "string",
                    "description" : "The service related to an arrangement"
                  }
                }
              },
              "currNo" : {
                "type" : "string",
                "description" : "Current Number which indicates how many times the record is modified."
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    }
  }
}