{
  "swagger" : "2.0",
  "info" : {
    "description" : "Api to retrieve the credit limit details",
    "version" : "v1.0.0",
    "title" : "Limit Details"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "https", "http" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/limits/expiringLimits" : {
      "get" : {
        "summary" : "Retrieves the expiring credit limit details",
        "operationId" : "getExpiringLimits",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "expiryDate",
          "in" : "query",
          "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "approvalDate",
          "in" : "query",
          "description" : "Indicates the date on which the Limit was last approved by the credit committee of the bank",
          "required" : false,
          "type" : "string",
          "format" : "date"
        } ],
        "responses" : {
          "200" : {
            "description" : "getExpiringLimitsResponse",
            "schema" : {
              "$ref" : "#/definitions/getExpiringLimitsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/holdings/limits/reviewLimits" : {
      "get" : {
        "summary" : "Retrieves Credit Limits to be reviewed",
        "operationId" : "getLimitsToReview",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "limitReviewDate",
          "in" : "query",
          "description" : "Specifies the next date on which the limit is reviewed",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "approvalDate",
          "in" : "query",
          "description" : "Indicates the date on which the Limit was last approved by the credit committee of the bank",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "liabilityNumber",
          "in" : "query",
          "description" : "Identifier of the Liability Customer to the credit limit",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getLimitsToReviewResponse",
            "schema" : {
              "$ref" : "#/definitions/getLimitsToReviewResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getExpiringLimitsResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getExpiringLimitsResponseBody"
        }
      },
      "description" : "getExpiringLimitsResponse"
    },
    "getExpiringLimitsResponseBody" : {
      "type" : "object",
      "properties" : {
        "limit" : {
          "type" : "array",
          "description" : "Designed to monitor the availability and utilisation of Limits",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "liabilityNumber" : {
                "type" : "string",
                "description" : "Identifier of the Liability Customer to the credit limit"
              },
              "limitCurrency" : {
                "type" : "string",
                "description" : "Currency in which the credit limit is granted"
              },
              "internalAmount" : {
                "type" : "string",
                "description" : "Specifies the amount actually approved or authorised by Management or the Credit Committee."
              },
              "timeCode" : {
                "type" : "object",
                "description" : "Specifies time sub-divisions of a Limit, each of which is available for a different maturity period",
                "properties" : {
                  "onlineLimit" : {
                    "type" : "string",
                    "description" : "The limit amount which is actually available for use"
                  },
                  "availableAmount" : {
                    "type" : "string",
                    "description" : "The credit limit available to the customer for use"
                  }
                }
              },
              "expiryDate" : {
                "type" : "string",
                "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "getLimitsToReviewResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getLimitsToReviewResponseBody"
        }
      },
      "description" : "getLimitsToReviewResponse"
    },
    "getLimitsToReviewResponseBody" : {
      "type" : "object",
      "properties" : {
        "limit" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "liabilityNumber" : {
                "type" : "string",
                "description" : "Identifier of the Liability Customer to the credit limit"
              },
              "limitCurrency" : {
                "type" : "string",
                "description" : "Currency in which the credit limit is granted"
              },
              "internalAmount" : {
                "type" : "string",
                "description" : "Specifies the amount actually approved or authorised by Management or the Credit Committee."
              },
              "advisedAmount" : {
                "type" : "string",
                "description" : "The amount advised to the Customer"
              },
              "limitReviewDate" : {
                "type" : "string",
                "description" : "Specifies the next date on which the limit is reviewed"
              },
              "expiryDate" : {
                "type" : "string",
                "description" : "The date an agreement such as an arrangement, product, credit facility or limit is due to expire"
              }
            }
          }
        }
      }
    }
  }
}