{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the Limit Sharing Details",
    "version" : "v1.0.0",
    "title" : "List of Shared Limits"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/holdings/limits/sharedLimits" : {
      "get" : {
        "summary" : "Retrieves the group limits details",
        "operationId" : "getLimitSharingGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getLimitSharingGroupResponse",
            "schema" : {
              "$ref" : "#/definitions/getLimitSharingGroupResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getLimitSharingGroupResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getLimitSharingGroupResponseBody"
        }
      },
      "description" : "getLimitSharingGroupResponse"
    },
    "getLimitSharingGroupResponseBody" : {
      "type" : "object",
      "properties" : {
        "limitSharingGroup" : {
          "type" : "array",
          "description" : "Application allows defining group limits which can be granted to a group of customer and product in addition to their individual limit",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "limitProduct" : {
                "type" : "string",
                "description" : "Identifier of the credit limit product"
              },
              "parentGroup" : {
                "type" : "string",
                "description" : "Used for sub groups to create a hierarchy with main group. It is not required for Main groups and is mandatory for sub groups."
              },
              "singleLineSerialNumber" : {
                "type" : "string",
                "description" : "Serial number of credit limit of the Single Line limit sharing group"
              },
              "masterGroupKey" : {
                "type" : "string",
                "description" : "Automatically updated by system during authorization with the master group key in which the sharing group key is linked. It will be updated only for the Main group and not for the sub groups."
              },
              "language" : {
                "type" : "object",
                "description" : "Language specific fields will be displayed under this entity",
                "properties" : {
                  "displayName" : {
                    "type" : "string",
                    "description" : "Contains the name used for display or enrichment purposes"
                  }
                }
              },
              "allowedProduct" : {
                "type" : "object",
                "description" : "Product or products allowed to be used within the product bundle.",
                "properties" : {
                  "allowedProduct" : {
                    "type" : "string",
                    "description" : "Product or products allowed to be used within the product bundle."
                  }
                }
              },
              "allowedCustomer" : {
                "type" : "object",
                "description" : "Customers who are part of Limit sharing Group.",
                "properties" : {
                  "allowedCustomer" : {
                    "type" : "string",
                    "description" : "Customers who are part of Limit sharing Group."
                  }
                }
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    }
  }
}