{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the Prospect Customer Details",
    "version" : "v1.0.0",
    "title" : "Prospect Customer details"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/party/customers/prospects" : {
      "get" : {
        "summary" : "Retrieves the Prospect Customer Details ",
        "operationId" : "getProspectCustomers",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Prospect Customer detailsResponse",
            "schema" : {
              "$ref" : "#/definitions/getProspectCustomersResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getProspectCustomersResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getProspectCustomersResponseBody"
        }
      },
      "description" : "getProspectCustomersResponse"
    },
    "getProspectCustomersResponseBody" : {
      "type" : "object",
      "properties" : {
        "personEntity" : {
          "type" : "array",
          "description" : "Identifies if the record is for a real person or a legal entity. Allowed Options: Person or Entity.",
          "items" : {
            "type" : "object",
            "properties" : {
              "personEntity" : {
                "type" : "string",
                "description" : "Identifies if the record is for a real person or a legal entity. Allowed Options: Person or Entity."
              },
              "carrierPosition" : {
                "type" : "string",
                "description" : "Specifies the Version of address to which the message should be sent to"
              },
              "gender" : {
                "type" : "string",
                "description" : "Gender of the Individual Customer"
              },
              "birthIncorpDate" : {
                "type" : "string",
                "description" : "Date on which the entity is incorporated"
              },
              "language" : {
                "type" : "object",
                "description" : "Language specific fields will be displayed under this entity",
                "properties" : {
                  "street" : {
                    "type" : "string",
                    "description" : "Contains the first line of customer's base address, example building number, street number etc."
                  },
                  "name" : {
                    "type" : "string",
                    "description" : "Name of the Customer or Bank Employee or a Person"
                  },
                  "postCode" : {
                    "type" : "string",
                    "description" : "Identifies the address postal code for the customer."
                  },
                  "countryName" : {
                    "type" : "string",
                    "description" : "This is the country name that the financial institution resides in."
                  },
                  "townCountry" : {
                    "type" : "string",
                    "description" : "The town and country associated with the address"
                  }
                }
              },
              "phoneNumber" : {
                "type" : "object",
                "description" : "The phone number of the customer or prospect",
                "properties" : {
                  "phoneNumber" : {
                    "type" : "string",
                    "description" : "The phone number of the customer or prospect"
                  },
                  "email" : {
                    "type" : "string",
                    "description" : "Email Identifier of the Customer"
                  }
                }
              },
              "legalId" : {
                "type" : "object",
                "description" : "Unique reference number of the legal documents submitted as identification proof",
                "properties" : {
                  "legalId" : {
                    "type" : "string",
                    "description" : "Unique reference number of the legal documents submitted as identification proof"
                  },
                  "legalDocumentName" : {
                    "type" : "string",
                    "description" : "Name of the legal documents such as passport, driving licence etc., provided as identification proof"
                  }
                }
              },
              "socialNetworkId" : {
                "type" : "object",
                "description" : "Social Network Identification of the person/entity",
                "properties" : {
                  "socialNetworkId" : {
                    "type" : "string",
                    "description" : "Social Network Identification of the person/entity"
                  }
                }
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    }
  }
}