{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to retrieve the payment purpose code details",
    "version" : "v1.0.0",
    "title" : "Payment Orders"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/order/paymentOrders/purposes" : {
      "get" : {
        "summary" : "Retrieves the payment purpose code details such as short description, classification and definition",
        "operationId" : "getPaymentOrderPurposeCodes",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getPaymentOrderPurposeCodesResponse",
            "schema" : {
              "$ref" : "#/definitions/getPaymentOrderPurposeCodesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/products" : {
      "get" : {
        "summary" : "Retrieves the payment Features defined for each product",
        "operationId" : "getPaymentOrderProductDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "paymentProductGroupId",
          "in" : "query",
          "description" : "Payment method group details of the payment",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getPaymentOrderProductDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/getPaymentOrderProductDetailsResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    },
    "/order/paymentOrders/countryRules" : {
      "get" : {
        "summary" : "Retrieves the country specific rule details such as IBAN, BIC, Bank Sort code to be allowed or not allowed, Clearing code format for each clearing channel, list of payment currencies accepted",
        "operationId" : "getPaymentOrderCountryRules",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "recordId",
          "in" : "query",
          "description" : "Unique identifier of an entity",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "getPaymentOrderCountryRulesResponse",
            "schema" : {
              "$ref" : "#/definitions/getPaymentOrderCountryRulesResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "getPaymentOrderPurposeCodesResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getPaymentOrderPurposeCodesResponseBody"
        }
      },
      "description" : "getPaymentOrderPurposeCodesResponse"
    },
    "getPaymentOrderPurposeCodesResponseBody" : {
      "type" : "object",
      "properties" : {
        "paymentPurposeCode" : {
          "type" : "array",
          "description" : "Holds information related to the SEPA payment purpose codes",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "definition" : {
                "type" : "string",
                "description" : "This indicates a full description of payment purpose code. i.e. purpose of the instruction based on a set of pre-defined categories."
              },
              "language" : {
                "type" : "object",
                "description" : "Language specific fields will be displayed under this entity",
                "properties" : {
                  "displayName" : {
                    "type" : "string",
                    "description" : "Contains the name used for display or enrichment purposes"
                  },
                  "classification" : {
                    "type" : "string",
                    "description" : "This indicates a high-level classification of payment purpose code. i.e. purpose of the instruction based on a set of pre-defined categories."
                  }
                }
              }
            }
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "getPaymentOrderProductDetailsResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getPaymentOrderProductDetailsResponseBody"
        }
      },
      "description" : "getPaymentOrderProductDetailsResponse"
    },
    "getPaymentOrderProductDetailsResponseBody" : {
      "type" : "object",
      "properties" : {
        "paymentOrderProduct" : {
          "type" : "array",
          "description" : "Payment Features that are specific to a product",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "rank" : {
                "type" : "string",
                "description" : "Indicates the rank of the payment order product within the group. "
              },
              "payThroughBeneficiary" : {
                "type" : "string",
                "description" : "Defines whether payment initiation can be done by providing beneficiary details. This is applicable when beneficiary is not within the same bank"
              },
              "futureDate" : {
                "type" : "string",
                "description" : "Indicates if a future dated instruction can be inputted for the specific payment order product"
              },
              "requiredCreditValue" : {
                "type" : "string",
                "description" : "Indicates if required credit value date can be inputted for the specific payment order product while initiating a payment"
              },
              "IBANSupport" : {
                "type" : "string",
                "description" : "Check for payment support for IBAN or not"
              },
              "BICSupport" : {
                "type" : "string",
                "description" : "Check for payment support for BIC or not"
              },
              "sortCodeSupport" : {
                "type" : "string",
                "description" : "Check for payment support for sortCode or not"
              },
              "narrative" : {
                "type" : "string",
                "description" : "The additional text printed on descriptive statements in addition to the standard narrative and/or reference"
              },
              "weblink" : {
                "type" : "string",
                "description" : "The web link for additional information"
              },
              "forexSupport" : {
                "type" : "string",
                "description" : "Check for payment support for forex or not"
              },
              "defaultChargeOption" : {
                "type" : "string",
                "description" : "Indicates the charge option which will be defaulted at the time of payment initiation for specific payment order product i.e. Recipient To Pay All Charges, Pay My Bank's Charges or Pay My Bank Charges Only."
              },
              "checkTransparency" : {
                "type" : "string",
                "description" : "Used to set if simulation is required or not"
              },
              "awaitExternalSubmit" : {
                "type" : "string",
                "description" : "External payment request for approval details"
              },
              "language" : {
                "type" : "object",
                "description" : "Language specific fields will be displayed under this entity",
                "properties" : {
                  "displayName" : {
                    "type" : "string",
                    "description" : "Contains the name used for display or enrichment purposes"
                  }
                }
              },
              "paymentProductGroupId" : {
                "type" : "object",
                "description" : "Payment method group details of the payment",
                "properties" : {
                  "paymentProductGroupId" : {
                    "type" : "string",
                    "description" : "Payment method group details of the payment"
                  }
                }
              },
              "paymentCurrencyId" : {
                "type" : "object",
                "description" : "The currency of payment.",
                "properties" : {
                  "paymentCurrencyId" : {
                    "type" : "string",
                    "description" : "The currency of payment."
                  }
                }
              },
              "orderingCurrencyId" : {
                "type" : "object",
                "description" : "Debit Account currency specific details",
                "properties" : {
                  "orderingCurrencyId" : {
                    "type" : "string",
                    "description" : "Debit Account currency specific details"
                  }
                }
              },
              "countryId" : {
                "type" : "object",
                "description" : "ISO country code of the financial institution. ",
                "properties" : {
                  "countryId" : {
                    "type" : "string",
                    "description" : "ISO country code of the financial institution. "
                  }
                }
              },
              "clearingChannelId" : {
                "type" : "object",
                "description" : "Indicates the clearing channel details to be used",
                "properties" : {
                  "clearingChannelId" : {
                    "type" : "string",
                    "description" : "Indicates the clearing channel details to be used"
                  }
                }
              },
              "additionalInformation" : {
                "type" : "object",
                "description" : "Additional Information provided to add context",
                "properties" : {
                  "additionalInformation" : {
                    "type" : "string",
                    "description" : "Additional Information provided to add context"
                  }
                }
              }
            }
          }
        }
      }
    },
    "getPaymentOrderCountryRulesResponse" : {
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/getPaymentOrderCountryRulesResponseBody"
        }
      },
      "description" : "getPaymentOrderCountryRulesResponse"
    },
    "getPaymentOrderCountryRulesResponseBody" : {
      "type" : "object",
      "properties" : {
        "paymentOrdCntryRules" : {
          "type" : "array",
          "description" : "Holds Country specific validations details",
          "items" : {
            "type" : "object",
            "properties" : {
              "recordId" : {
                "type" : "string",
                "description" : "Unique identifier of an entity"
              },
              "language" : {
                "type" : "object",
                "description" : "Language specific fields will be displayed under this entity",
                "properties" : {
                  "displayName" : {
                    "type" : "string",
                    "description" : "Contains the name used for display or enrichment purposes"
                  }
                }
              },
              "IBANSupport" : {
                "type" : "string",
                "description" : "Check for payment support for IBAN or not"
              },
              "BICSupport" : {
                "type" : "string",
                "description" : "Check for payment support for BIC or not"
              },
              "sortCodeSupport" : {
                "type" : "string",
                "description" : "Check for payment support for sortCode or not"
              },
              "clearingChannelId" : {
                "type" : "object",
                "description" : "Indicates the clearing channel details to be used",
                "properties" : {
                  "clearingChannelId" : {
                    "type" : "string",
                    "description" : "Indicates the clearing channel details to be used"
                  }
                }
              },
              "paymentCurrency" : {
                "type" : "object",
                "description" : "This field holds the transaction currency or currency in which payment is initiated. ",
                "properties" : {
                  "paymentCurrency" : {
                    "type" : "string",
                    "description" : "This field holds the transaction currency or currency in which payment is initiated. "
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}