{
  "swagger" : "2.0",
  "info" : {
    "description" : "API to fetch the pricing benefit details for the bundle and the linked pricing arrangements",
    "version" : "v1.0.0",
    "title" : "Enterprise product pricing"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "tags" : [ {
    "name" : "RETAIL"
  } ],
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/enterprise/pricing/arrangements/{arrangementId}/bundles/pricingBenefits" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "Retrieves the bundle pricing benefit details",
        "description" : "Retrieves the bundle pricing details for the bundle and the linked arrangements",
        "operationId" : "getPackageStatement",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "path",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "Contains the date on which the transaction or payment gets initiated.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "Indicates the date till which the transaction history requested. If 20120101 is the start date and 20120201 is the end date, all transactions that are booked between January 1 to February 1 2012 are returned",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "PackageStatementResponse",
            "schema" : {
              "$ref" : "#/definitions/PackageStatementResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "PackageStatementResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PackageStatementResponseBody"
        }
      },
      "description" : "PackageStatementResponse"
    },
    "PackageStatementResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "packagePricing" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "date" : {
                  "type" : "string",
                  "description" : "Indicates the date on which activity was performed"
                },
                "arrangementId" : {
                  "type" : "string",
                  "description" : "Indicates an unique identifier of an account"
                },
                "productLine" : {
                  "type" : "string",
                  "description" : "The top level product line, which the product is ultimately attached to. May be a Temenos-defined product line such as ACCOUNTS, AGENT, BUNDLE, CONSENT, DEPOSITS, LENDING, REWARDS, etc. or one defined by the institution to manage external products."
                },
                "pricingType" : {
                  "type" : "string",
                  "description" : "Indicates the pricing type such as Debit,Credit"
                },
                "propertyName" : {
                  "type" : "string",
                  "description" : "Indicates the  property description to which benefit has been applied"
                },
                "baseValue" : {
                  "type" : "string",
                  "description" : "Indicates the base value for which benefit has been applied"
                },
                "adjustValue" : {
                  "type" : "string",
                  "description" : "Indicates the value by which base value has to be adjusted"
                },
                "netValue" : {
                  "type" : "string",
                  "description" : "Indicates the final adjusted net value. For example NetValue is  sum or difference of BaseValue and AdjustValue"
                },
                "packageBenefitValue" : {
                  "type" : "string",
                  "description" : "Indicates the total  benefit amount when packaged"
                },
                "packageBenefitName" : {
                  "type" : "string",
                  "description" : "Indicates the benefit names when packaged"
                }
              }
            }
          },
          "totalPackageFees" : {
            "type" : "string",
            "description" : "Indicates the net pricing benefit amount  of package when pricing type is debit"
          },
          "totalPackageCredits" : {
            "type" : "string",
            "description" : "Indicates the net pricing benefit amount of package when pricing type is credit"
          },
          "netPackageSavings" : {
            "type" : "string",
            "description" : "Indicates the  total  benefit amount of the package"
          },
          "totalOriginalFees" : {
            "type" : "string",
            "description" : "Indicates the summation  of baseValue, adjustvalue, package benefit Value when pricing type is debit"
          },
          "totalFeeBenefits" : {
            "type" : "string",
            "description" : "Indicates the total  Package benefit amount  when pricing type is debit."
          },
          "totalOriginalCredits" : {
            "type" : "string",
            "description" : "Indicates the summation  of baseValue, adjustvalue, package benefit Value when pricing type is credit."
          },
          "totalCreditBenefits" : {
            "type" : "string",
            "description" : "Indicates the total  Package benefit amount  when pricing type is credit"
          },
          "netOriginalCost" : {
            "type" : "string",
            "description" : "Indicates the net original cost i.e difference of fees and credits"
          },
          "totalBenefits" : {
            "type" : "string",
            "description" : "Indicates the total benefit value when the contracts are not part of the package"
          },
          "netSavings" : {
            "type" : "string",
            "description" : "Indicates the summation of total pricing values and benefit values  when the contracts are packaged"
          },
          "totalPackageSavings" : {
            "type" : "string",
            "description" : "Indicates the summation between net savings and net package savings"
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}