{
  "swagger" : "2.0",
  "info" : {
    "description" : "Order Confirmation",
    "version" : "v1.0.0",
    "title" : "Order Confirmation"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/order/messages/confirmationTrade" : {
      "post" : {
        "summary" : "Order Confirmation",
        "description" : "Order Confirmation",
        "operationId" : "orderConfirmation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Confirmation"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "ConfirmationResponse",
            "schema" : {
              "$ref" : "#/definitions/ConfirmationResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "override" : {
          "type" : "object",
          "properties" : {
            "overrideDetails" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "The identifier of the override"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "The actual override message"
                  },
                  "responseCode" : {
                    "type" : "string",
                    "description" : "The user input to accept/reject the override."
                  }
                }
              }
            }
          }
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "Confirmation" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ConfirmationBody"
        }
      },
      "description" : "Confirmation"
    },
    "ConfirmationBody" : {
      "type" : "object",
      "properties" : {
        "msgId" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "creDtTm" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "invstmtAcctDtlsAcctId" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "ordrRef" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "dealRef" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsISIN" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsSEPOL" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsCUSIP" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsRIC" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsTckrSymb" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsBlmbrg" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsCTA" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsQUICK" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsWrtppr" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsDtch" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsVlrn" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsSCVM" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsBelgn" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsCmon" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsId" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsDmst" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsPrty" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "unitsNb" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "tradDt" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "tradDtTm" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "dealgPricDtlsCd" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "dealgPricDtlsPtyId" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "dealgPricDtlsPtyIssr" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "dealgPricDtlsPtySchmeNm" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "dealgPricDtlsAmt" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "sttlmAmt" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "prtlyExctdInd" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "cumDvddInd" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "physDlvryInd" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "receiver" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "ConfirmationResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ConfirmationResponseBody"
        }
      },
      "description" : "ConfirmationResponse"
    },
    "ConfirmationResponseBody" : {
      "type" : "object",
      "properties" : {
        "msgId" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "creDtTm" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "invstmtAcctDtlsAcctId" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "ordrRef" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "dealRef" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsISIN" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsSEPOL" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsCUSIP" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsRIC" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsTckrSymb" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsBlmbrg" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsCTA" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsQUICK" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsWrtppr" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsDtch" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsVlrn" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsSCVM" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsBelgn" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsCmon" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsId" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsDmst" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "finInstrmDtlsPrty" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "unitsNb" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "tradDt" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "tradDtTm" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "dealgPricDtlsCd" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "dealgPricDtlsPtyId" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "dealgPricDtlsPtyIssr" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "dealgPricDtlsPtySchmeNm" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "dealgPricDtlsAmt" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "sttlmAmt" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "prtlyExctdInd" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "cumDvddInd" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "physDlvryInd" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "receiver" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "The status of the record"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "overrideBody" : {
      "properties" : {
        "overrideDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "The identifier of the override"
              },
              "description" : {
                "type" : "string",
                "description" : "The actual override message"
              },
              "options" : {
                "type" : "array",
                "description" : "The usable options for the override",
                "items" : {
                  "type" : "string"
                }
              },
              "type" : {
                "type" : "string",
                "description" : "The type of the override"
              }
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        },
        "override" : {
          "$ref" : "#/definitions/overrideBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual t24 error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}