{
  "swagger" : "2.0",
  "info" : {
    "description" : "Allows the viewing of the available services , their status and workload profiles,the company's Close Of Business Status , Job time progress and report(Deprecated- A newer version V2.0.2 available)",
    "version" : "v2.0.0",
    "title" : "Serviceautomation"
  },
  "host" : "api.temenos.com",
  "basePath" : "/api/v2.0.0/",
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/system/services" : {
      "get" : {
        "summary" : "Retrieves a list of all available services in system.(Deprecated- A newer version V2.0.2 available)",
        "description" : "Retrieves a list of all available services in system.",
        "operationId" : "getAvailableServices",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "query",
          "description" : "Contains the identifier name of the service that has to be executed.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "serverName",
          "in" : "query",
          "description" : "Contains the name of the Server on which the service will run.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "serverStatus",
          "in" : "query",
          "description" : "Status of Server  POSSIBLE VALUES: ACTIVE: To set the server as active INACTIVE: To set the server as inactive",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "workloadProfileId",
          "in" : "query",
          "description" : "The ID of a record that is in a multithreaded process",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "processStatus",
          "in" : "query",
          "description" : "Contains the current process status. Allowed values: - 0: Ready - 1: Running - 2: Completed successfully - 3: On hold or in error",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "AvailableServicesResponse",
            "schema" : {
              "$ref" : "#/definitions/AvailableServicesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        },
        "deprecated" : true
      }
    },
    "/system/services/{serviceId}" : {
      "get" : {
        "summary" : "Retrieves the details of a specific service(Deprecated- A newer version V2.0.2 available)",
        "description" : "Retrieves the details of a specific service ",
        "operationId" : "getAvailableService",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "path",
          "description" : "Contains the identifier name of the service that has to be executed.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "serverName",
          "in" : "query",
          "description" : "Contains the name of the Server on which the service will run.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "serverStatus",
          "in" : "query",
          "description" : "Status of Server  POSSIBLE VALUES: ACTIVE: To set the server as active INACTIVE: To set the server as inactive",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "workloadProfileId",
          "in" : "query",
          "description" : "The ID of a record that is in a multithreaded process",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "processStatus",
          "in" : "query",
          "description" : "Contains the current process status. Allowed values: - 0: Ready - 1: Running - 2: Completed successfully - 3: On hold or in error",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "AvailableServiceResponse",
            "schema" : {
              "$ref" : "#/definitions/AvailableServicesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        },
        "deprecated" : true
      }
    },
    "/system/services/{serviceId}/status" : {
      "get" : {
        "summary" : "Retrieves a detailed status of the specified service(Deprecated- A newer version V2.0.2 available)",
        "description" : "Retrieves a detailed status of the specified service",
        "operationId" : "getServiceStatus",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "path",
          "description" : "Contains the identifier name of the service that has to be executed.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "ServiceStatusResponse",
            "schema" : {
              "$ref" : "#/definitions/ServiceStatusResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        },
        "deprecated" : true
      }
    },
    "/system/services/status" : {
      "get" : {
        "summary" : "Retrieves  status of all the services(Deprecated- A newer version V2.0.2 available)",
        "description" : "Retrieves  status of all the services",
        "operationId" : "getServicesStatus",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "query",
          "description" : "Contains the identifier name of the service that has to be executed.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "ServicesStatusResponse",
            "schema" : {
              "$ref" : "#/definitions/ServiceStatusResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        },
        "deprecated" : true
      }
    },
    "/system/services/workProfiles" : {
      "get" : {
        "summary" : "Retrieves list of all service workload profiles available in system(Deprecated- A newer version V2.0.2 available)",
        "description" : "Retrieves list of all service workload profiles available in system",
        "operationId" : "getWorkLoadProfiles",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "workloadProfileId",
          "in" : "query",
          "description" : "The ID of a record that is in a multithreaded process",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "agentsRequired",
          "in" : "query",
          "description" : "Contains the number of agents required",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "workLoadProfileTime",
          "in" : "query",
          "description" : "The time a multithreaded process takes.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "WorkLoadProfilesResponse",
            "schema" : {
              "$ref" : "#/definitions/WorkLoadProfilesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        },
        "deprecated" : true
      }
    },
    "/system/services/workProfiles/{workProfileId}" : {
      "get" : {
        "summary" : "Retrieves a specific workload profile (Deprecated- A newer version V2.0.2 available)",
        "description" : "Retrieves a specific workload profile ",
        "operationId" : "getWorkLoadProfile",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "workProfileId",
          "in" : "path",
          "description" : "Contains the reference to the record in service workload profiles for services.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "agentsRequired",
          "in" : "query",
          "description" : "Contains the number of agents required",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "workLoadProfileTime",
          "in" : "query",
          "description" : "The time a multithreaded process takes.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "WorkLoadProfileResponse",
            "schema" : {
              "$ref" : "#/definitions/WorkLoadProfilesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        },
        "deprecated" : true
      }
    },
    "/system/services/{servicesId}/companies/{companyId}" : {
      "get" : {
        "summary" : "Retrieves any logged error messages for a company during the Close of Business processing(Deprecated- A newer version V2.0.2 available)",
        "description" : "Retrieves any logged error messages for a company during the Close of Business processing",
        "operationId" : "getCompanyCloseBusinessStatus",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "servicesId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "path",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "cobDate",
          "in" : "query",
          "description" : "The time and date on which the error occurred. The information in this field will hold the machine date and time, not the system date.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CompanyCloseBusinessStatusResponse",
            "schema" : {
              "$ref" : "#/definitions/CompanyCloseBusinessStatusResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        },
        "deprecated" : true
      }
    },
    "/system/services/jobtimes" : {
      "get" : {
        "summary" : "Retrieves a list of all available executed process times in system(Deprecated- A newer version V2.0.2 available)",
        "description" : "Retrieves a list of all available executed process times in system",
        "operationId" : "getJobTimes",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "JobTimesResponse",
            "schema" : {
              "$ref" : "#/definitions/JobTimesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        },
        "deprecated" : true
      }
    },
    "/system/services/reportTimes" : {
      "get" : {
        "summary" : "Retrieves a list of elapsed times for reports generated during close of business processing(Deprecated- A newer version V2.0.2 available)",
        "description" : "Retrieves a list of elapsed times for reports generated during close of business processing",
        "operationId" : "getReportTimes",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "batchDate",
          "in" : "query",
          "description" : "The bank date on which the particular report was generated.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "report",
          "in" : "query",
          "description" : "Contains the name of the process that produces the report",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "ReportTimesResponse",
            "schema" : {
              "$ref" : "#/definitions/ReportTimesResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          }
        },
        "deprecated" : true
      }
    }
  },
  "securityDefinitions" : {
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
        }
      }
    },
    "AvailableServicesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/AvailableServicesResponseBody"
        }
      },
      "description" : "AvailableServicesResponse"
    },
    "AvailableServicesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "serverDetails" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "serverName" : {
                  "type" : "string",
                  "description" : "Contains the name of the Server on which the service will run.",
                  "maxLength" : 50
                },
                "serverStatus" : {
                  "type" : "string",
                  "description" : "Status of Server  POSSIBLE VALUES: ACTIVE: To set the server as active INACTIVE: To set the server as inactive",
                  "maxLength" : 7
                },
                "workloadProfileId" : {
                  "type" : "string",
                  "description" : "The ID of a record that is in a multithreaded process",
                  "maxLength" : 25
                }
              }
            }
          },
          "jobs" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "jobId" : {
                  "type" : "string",
                  "description" : "Contains the job identifier."
                },
                "jobStatus" : {
                  "type" : "string",
                  "description" : "Contains the current status of the job. POSSIBLE VALUES: 0: Ready 1: Running 2: Completed successfully 3: On hold or in error",
                  "maxLength" : 2
                },
                "verificationJobId" : {
                  "type" : "string",
                  "description" : "Contains the verification job identifier.Typically used to control whether a job is completed before the current jobId is executed.",
                  "maxLength" : 50
                },
                "jobFrequency" : {
                  "type" : "string",
                  "description" : "Contains the frequency on which the job is next processed. POSSIBLE VALUES:- D: Every working day. Dnn: Every nn'th working day. W: Weekly every Friday. - M: Last working day of every month. - Mnn: nn represents the offset added to the first day of every month to arrive at Next Run date. When the resultant date is a holiday, previous Working day is considered.",
                  "maxLength" : 50
                }
              }
            }
          },
          "serviceId" : {
            "type" : "string",
            "description" : "Contains the identifier name of the service that has to be executed.",
            "maxLength" : 50
          },
          "serviceControl" : {
            "type" : "string",
            "description" : "The control which user be exercise upon the current service.   POSSIBLE VALUES: START: to start the current service.  STOP: to stop the current service AUTO: to start the current service automatically and stop at the end of the process."
          },
          "processStatus" : {
            "type" : "string",
            "description" : "Contains the current process status. Allowed values: - 0: Ready - 1: Running - 2: Completed successfully - 3: On hold or in error",
            "maxLength" : 2
          },
          "jobLastStartedAt" : {
            "type" : "string",
            "description" : "Contains the time on which the service was started."
          },
          "jobLastStoppedAt" : {
            "type" : "string",
            "description" : "Contains the time on which the service was stopped."
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by T24"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual t24 error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    },
    "ServiceStatusResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ServiceStatusResponseBody"
        }
      },
      "description" : "ServiceStatusResponse"
    },
    "ServiceStatusResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "serviceId" : {
            "type" : "string",
            "description" : "Contains the identifier name of the service that has to be executed.",
            "maxLength" : 30
          },
          "agentId" : {
            "type" : "string",
            "description" : "The agent ID",
            "maxLength" : 10
          },
          "serverName" : {
            "type" : "string",
            "description" : "Contains the name of the Server on which the service will run.",
            "maxLength" : 35
          },
          "agentStatus" : {
            "type" : "string",
            "description" : "Contains the status of the agent. Possible values: - RUNNING - STOPPED",
            "maxLength" : 35
          },
          "portId" : {
            "type" : "string",
            "description" : "Contains the port on which agent is running",
            "maxLength" : 12
          },
          "sessionNo" : {
            "type" : "number",
            "description" : "Contains the session number in which the agent is running",
            "maximum" : 10
          },
          "lastContactTime" : {
            "type" : "string",
            "format" : "date-time",
            "description" : "Contains the Last contact time of running agent."
          }
        }
      }
    },
    "WorkLoadProfilesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/WorkLoadProfilesResponseBody"
        }
      },
      "description" : "WorkLoadProfilesResponse"
    },
    "WorkLoadProfilesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "group" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "agentsRequired" : {
                  "type" : "number",
                  "description" : "Contains the number of agents required",
                  "maximum" : 2
                },
                "workLoadProfileTime" : {
                  "type" : "string",
                  "format" : "date-time",
                  "description" : "The time a multithreaded process takes."
                }
              }
            }
          },
          "workloadProfileId" : {
            "type" : "string",
            "description" : "The ID of a record that is in a multithreaded process",
            "maxLength" : 30
          }
        }
      }
    },
    "CompanyCloseBusinessStatusResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CompanyCloseBusinessStatusResponseBody"
        }
      },
      "description" : "CompanyCloseBusinessStatusResponse"
    },
    "CompanyCloseBusinessStatusResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "cobDate" : {
            "type" : "string",
            "format" : "date",
            "description" : "The time and date on which the error occurred. The information in this field will hold the machine date and time, not the system date."
          },
          "companyId" : {
            "type" : "string",
            "description" : "The identifier of the underlying Entity/Company/Branch.",
            "maxLength" : 3
          },
          "detailKey" : {
            "type" : "string",
            "description" : "Contains the keys to the records that were saved at the time the error was reported.",
            "maxLength" : 30
          },
          "dateTime" : {
            "type" : "string",
            "format" : "date-time",
            "description" : "Contains the date and time separated by '-'"
          },
          "errorMessage" : {
            "type" : "string",
            "description" : "Contains the description of the error.",
            "maxLength" : 30
          },
          "applicationId" : {
            "type" : "string",
            "description" : "Contains the application id of the service that has crashed due to error.",
            "maxLength" : 2
          },
          "isFixRequired" : {
            "type" : "string",
            "description" : "Indicates if error is considered to be a critical error or not. For Critical Error, the batch control application will not be able to be invoked until this error has been resolved. For a Non Critical Error, the batch control application may be invoked even when this error is unresolved, by overriding it.  Allowed values: - YES: Critical Error - NO: Non Critical Error",
            "maxLength" : 3
          },
          "dateResolved" : {
            "type" : "string",
            "format" : "date-time",
            "description" : "Contains the date on which error has been resolved."
          }
        }
      }
    },
    "JobTimesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/JobTimesResponseBody"
        }
      },
      "description" : "JobTimesResponse"
    },
    "JobTimesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "group" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "controlList" : {
                  "type" : "string",
                  "description" : "Contains the service control list of values to process",
                  "maxLength" : 70
                },
                "processedJob" : {
                  "type" : "string",
                  "description" : "Contains the total number of records/contracts that were processed",
                  "maxLength" : 70
                },
                "completed" : {
                  "type" : "string",
                  "description" : "Contains the number of contracts completed processing.",
                  "maxLength" : 70
                }
              }
            }
          },
          "serviceId" : {
            "type" : "string",
            "description" : "Contains the identifier name of the service that has to be executed.",
            "maxLength" : 70
          },
          "startTime" : {
            "type" : "string",
            "format" : "date-time",
            "description" : "Contains the time job was started"
          },
          "endTime" : {
            "type" : "string",
            "format" : "date-time",
            "description" : "Contains the time the job  ended."
          },
          "throughPut" : {
            "type" : "string",
            "description" : "Contains the number of records processed per minute. Calculated as: keys processed / elapsed time * 60",
            "maxLength" : 70
          },
          "lastTime" : {
            "type" : "string",
            "format" : "date-time",
            "description" : "Contains the time taken to complete the job. "
          }
        }
      }
    },
    "ReportTimesResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/ReportTimesResponseBody"
        }
      },
      "description" : "ReportTimesResponse"
    },
    "ReportTimesResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "group" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "batchDate" : {
                  "type" : "string",
                  "format" : "date-time",
                  "description" : "The bank date on which the particular report was generated."
                },
                "sessionNo" : {
                  "type" : "number",
                  "description" : "Contains the session number in which the agent is running",
                  "maximum" : 3
                },
                "startTime" : {
                  "type" : "string",
                  "format" : "date-time",
                  "description" : "Contains the time job was started"
                },
                "endTime" : {
                  "type" : "string",
                  "format" : "date-time",
                  "description" : "Contains the time the job  ended."
                },
                "elapsedTime" : {
                  "type" : "string",
                  "format" : "date-time",
                  "description" : "Contains the elapsed time of the report in seconds"
                }
              }
            }
          },
          "processReport" : {
            "type" : "string",
            "description" : "Key to the Report Times, containing Process Name and Report Type name ",
            "maxLength" : 70
          }
        }
      }
    }
  }
}